// Dashboard elements

// Navigation

.nav-header {
  text-transform: uppercase;
  color: $gray-600;
  font-size: $font-size-xs / 1.2;
  padding: $spacer 0;

  &:first-child {
    padding-top: 0;
  }
}

.nav-pills-hover {
  .nav-link {
    transition: $transition-base;
    margin: 2px 0;
    font-size: $font-size-xs / 1.1;
    color: $gray-800;

    i {
      transition: $transition-base;
      margin: 0 ($spacer / 3) 0 0;
      width: 26px;
      text-align: center;
      color: $gray-600;
      font-size: $font-size-base * 1.1;
    }

    &.active {
      i {
        color: $white;
      }
    }

    &:hover:not(.active) {
      background: $gray-200;
      color: $black;

      i {
        color: $gray-800;
      }
    }
  }
}

// Search widget

.search-widget {
  position: relative;

  .fas {
    position: absolute;
    left: 14px;
    top: 14px;
  }

  .form-control {
    padding-left: 40px;
  }
}

// Breadcrumb

.breadcrumb {
  background: transparent;
}
