// Wrapper

html,
body {
  -ms-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
}

.app-wrapper {
  display: flex;
  flex: 1;
  background: $page-bg;
}

.app-main {
  display: flex;
  flex: 1 auto;
  min-width: 0;
  flex-direction: column;
  position: relative;
  //z-index: 8;
}

.app-content {
  flex: 1;
  display: flex;
  padding: $header-height 0 0 $sidebar-width;
  flex-direction: column;
  transition: all 0.5s cubic-bezier(0.685, 0.0473, 0.346, 1);

  &--inner {
    padding: $layout-spacer;
    width: 100%;
    flex: 1;

    @include media-breakpoint-down(md) {
      padding: $layout-spacer ($layout-spacer / 2);
    }
  }

}

// Responsive

.sidebar-mobile-overlay {
  width: 0;
  height: 0;
  opacity: 0;
  visibility: hidden;
  transition: opacity .2s;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background: rgba($black, .4);
  z-index: 11;
}

@include media-breakpoint-down(md) {
  .app-content {
    padding-left: 0;
  }

  .sidebar-open-mobile {
    overflow: hidden;

    .sidebar-mobile-overlay {
      opacity: 1;
      visibility: visible;
      width: 100%;
      height: 100%;
    }

    .app-content {
      transform: translate3d($sidebar-width, 0, 0);
    }
  }
}
